@font-face {
  font-family: 'customfont';
  src: url('../src/Components/Font/ArabianNight-CommercialUsed.ttf') format('woff2'), ;

  font-weight: normal;
  font-style: normal;
}

.check {
  font-family: 'customfont';

}