

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body {
    color: #333;
    min-height: 100%; 
     margin: 0; 
    font-size: 14px;
    line-height: 20px;
  
}

.text-weight-normal {
    font-weight: 400;
}
.text-weight-light {
    font-weight: 300;
}



.title-tag-tab.blue-grad {
     background-image: linear-gradient(88deg, var(--midnight-blue-010a51), #e1e1e1); 
     padding: .5rem 2rem;
    font-weight: 700;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  @keyframes scrollReverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-scroll-reverse {
    animation: scrollReverse 50s linear infinite;
  }


  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease forwards;
  }
  


  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotateX-10 {
    transform: rotateX(10deg);
  }
  


  html {
  scroll-behavior: smooth;
}


.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


::-webkit-scrollbar{
  width:8px
}

::-webkit-scrollbar-track{
  background: #000;
}
::-webkit-scrollbar-thumb{
  background:#cdab56;
}

